 .wy-nav-content-wrap{Background:none!important;}
 .rst-content tt.literal, .rst-content tt.literal, .rst-content code.literal {
    color: #000000;
}
hr {
    background-color: #eee;
    border: 0 none;
    color: #eee;
    height: 2px;
}
